/* google font imported  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header section Start */

.header-container {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-description {
    text-align: center;
    color: white;
}

.heading-title {
    font-size: 65px;
    font-weight: 700px;
}

.header-sub-title {
    font-size: 16px;
    color: rgb(237, 235, 235);
}

.btn-style {
    margin: 20px;
    background: #fe4b4b;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.btn-style:hover {
    background-color: black;

}

/* header section End */

/* Money Donate  start*/

.section-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
}

.section-description {
    font-size: 14px;
    color: #707070;
}

.money-quantity {
    margin: 20px;
}

.quantity-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 120px;
    height: 80px;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    border-radius: 5px;
    margin-left: 20px;
    margin-left: 30px;
}

.minimum-donate {
    border: 2px solid #FF5959;
    color: #FF5959;
    background-color: #ff595922;
}

.money-value-input {
    margin-top: 50px;
}

.money-input {
    text-align: center;
    margin: 5px 300px;
}

.input-field {
    border: none;
    margin-bottom: 10px;
}

/* Money Donate  End*/

/* Donate plan card Start */


.donate-plan-card {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 260px;
    height: 220px;
    padding: 30px;

}

.card-design-1 {
    background-color: #4F9DA61A;
}

.card-design-2 {
    background-color: #FF59591A;
}

.card-design-3 {
    background: #eaff4886;
}

.card-image {
    margin: 7px;
}

.card-title {
    font-size: 24px;
    margin: 7px;
    font-weight: 600px;
}

.card-description {
    font-size: 16px;
    margin: 7px;
    color: #707070;
}

/* Donate plan card End */